
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LJFC189LR6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LJFC189LR6');
</script>


<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/png" href="assets/img/ogfavicon.png">

<!-- end custom head snippets -->
