<div class="link-wrapper-mobile">
    <span style="margin-left: 5px;"></span>
    <a href="https://twitter.com/srt_erm"><i class="fab fa-twitter"></i> Twitter </a>
  
    
    <span style="margin-left: 5px;"></span>
    <a href="https://suryanshthakur001.github.io/caLt3chKinG/blog.html"><i class="fas fa-feather-alt"></i> Blog </a>
  
    <span style="margin-left: 5px;"></span>
    <a href="https://suryanshthakur001.github.io/caLt3chKinG/notes.html"><i class="fas fa-sticky-note"></i> Notes</a>
  
    <span style="margin-left: 5px;"></span>
    <a href="https://suryanshthakur001.github.io/caLt3chKinG/misc.html"><i class="far fa-folder"></i> Misc. </a>
  
</div>
