<div class="link-wrapper-mobile">
    <span style="margin-left: 5px;"></span>
    <a href="https://twitter.com/alphabreacher"><i class="fab fa-twitter"></i> Twitter </a>
  
    
    <span style="margin-left: 5px;"></span>
    <a href="https://srterm.github.io/srt/blog.html"><i class="fas fa-feather-alt"></i> Blog </a>
  
    <span style="margin-left: 5px;"></span>
    <a href="https://srterm.github.io/srt/notes.html"><i class="fas fa-sticky-note"></i> Notes</a>
  
    <span style="margin-left: 5px;"></span>
    <a href="https://srterm.github.io/srt/misc.html"><i class="far fa-folder-open"></i> Misc. </a>
  
</div>
