<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://suryanshthakur001.github.io/caLt3chKinG/cv.html"><i class="far fa-file"></i> CV </a></li>
      <li><a href="https://twitter.com/srt_erm"><i class="fab fa-twitter"></i> Twitter </a></li>
      <li><a href="https://suryanshthakur001.github.io/caLt3chKinG/blog.html"><i class="fas fa-feather-alt"></i> Blog </a></li>
      <li><a href="https://suryanshthakur001.github.io/caLt3chKinG/notes.html"><i class="fas fa-sticky-note"></i> Notes </a></li>
      <li><a href="https://suryanshthakur001.github.io/caLt3chKinG/misc.html"><i class="far fa-folder"></i> Misc.</a></li>
      <li><a href="https://suryanshthakur001.github.io/caLt3chKinG/project.html"><i class="far fa-bookmark"></i> Project's </a></li>
      <!--<li><a href="https://github.com/suryanshthakur001"><i class="fab fa-github"></i> GitHub </a></li>-->
    </ul>
  </div>
